<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
	<style>
		body {
			font-family: Arial, Helvetica, sans-serif;
		}

		html {
			zoom: 0.55;
		}

		.pdf-header {
			min-height: 100vh;
		}

		.header {
			align-items: flex-end;
			padding: 20px 0;
			border-bottom: 3px solid black;
			padding: 10px 60px;
		}

		.header-id {
			text-align: right;
		}

		/* .address-section {
			display: flex;
			padding: 10px 60px;
			justify-content: space-between;
			align-items: flex-start;
		} */

		/* .address-section p {
			margin-bottom: 0;
			margin-top: 0;
			padding-top: 3px;
		} */

		.container {
			padding: 10px 60px;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

		th {
			text-align: left !important;
		}

		table,
		tr,
		td,
		th {
			border: 1px solid #d8d8da;
		}

		.table-border-0,
		.table-border-0 tbody,
		.table-border-0 thead,
		.table-border-0 tr,
		.table-border-0 th,
		.table-border-0 td {
			border: none;
		}
	</style>
</head>

<body>
	<div class="pdf-header">
		<div class="header">
			<table class="table-border-0">
				<tbody>
					<tr>
						<td>
							<div class="img-container">
								<table style="border: none !important;">
									<tr>
										<td><img src="<%- saurbhi_logo %>" alt="" height="100" width="100" /></td>
										<td><img src="<%-  realLifeLogo %>" alt="" height="100" width="100" /></td>
										<td><img src="<%- chatzpatz %>" alt="" height="100" width="100" /></td>
										<td><img src="<%- shannPunjab %>" alt="" height="100" width="100" /></td>
									</tr>

								</table>
							</div>
						</td>
						<td>
							<div class="header-id">
								<p>1 of 1</p>
								<p>04/08/2021 05:45:PM</p>
								<p>Order No.: <span><%=orderNumber %></span></p>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="text-align: center; font-size: 18px;">
			<h3>Purchase Order</h3>
		</div>

		<!-- <div class="address-section">
			<table class="table-border-0">
				<tbody style="vertical-align:top">
					<tr>
						<td style="width: 5%;  max-width: 100px;">
							<div>
								<img src="<%- logo %>" alt="logo" />
							</div>
						</td>
						<td style="width: 70%;">
							<div style=" max-width: 350px;">
								<p>From:</p>
								<p style="font-weight: bold;margin-top: 3px;">
									<%=companySettings.company_name %>
								</p>
								<p><%=companySettings.address_1 %></p>
								<p>
									<span
										style="padding-right:30px">Phone:<span><%=companySettings.mobile %></span></span>
									<span>FAX:<span><%=companySettings.fax %></span></span>
								</p>

								<p>Email:<span><%=companySettings.email %></span></p>
								<p>ABN: 44 125 550 325</p>
							</div>
						</td>
						<td style="width: 20%;">
							<div class="">
								<p>To:</p>
								<p><%=user.company_name %></p>
								<p><%=user.shop_name %></p>
								<p><%=user.address_1 + " "%></p>

								<div style="margin-top:20px;">
									<p>Phone: <span><%=user.mobile %></span></p>
									<p>Email: <span><%=user.email %></span></p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div> -->
		<div class="container">
			<div style="display:block;">
				<div style="display: inline-block; width: 10%; vertical-align: top;">
					<div style="display: block; text-align: center">
						<img src="<%- logo %>" height="50" width="50" alt="logo" />
					</div>
				</div>
	
				<div style="display: inline-block; width: 56%; vertical-align: top;">
					<div style="display: block; max-width: 350px;">
						<p>From:</p>
						<p style="font-weight: bold; margin-top: 3px;">
							<%=companySettings.company_name %>
						</p>
						<p><%=companySettings.address_1 %></p>
						<p>
							<span
								style="padding-right:30px">Phone:<span><%=companySettings.mobile %></span></span>
							<span>FAX:<span><%=companySettings.fax %></span></span>
						</p>

						<p>Email:<span><%=companySettings.email %></span></p>
						<p>ABN: 44 125 550 325</p>
					</div>
				</div>
	
				<div style="display: inline-block; width: 30%; vertical-align: top;">
					<div style="display: block;float:right;">
						<p>To:</p>
						<p><%=user.company_name %></p>
						<p><%=user.shop_name %></p>
						<p><%=user.address_1 + " "%></p>

						<div style="margin-top:20px;">
							<p>Phone: <span><%=user.mobile %></span></p>
							<p>Email: <span><%=user.email %></span></p>
						</div>
					</div>
				</div>
			</div>
	
		</div>
			
		<div class="container">
			<table style="border-collapse: collapse">
				<thead>
					<tr style="border: 1px solid #d8d8da; padding-left:5px;">
						<th
							style="width: 40px; text-align:center !important; border: 1px solid #d8d8da; padding-left:5px;">
							#</th>
						<th style="border: 1px solid #d8d8da; padding-left:5px;">Product Name</th>
						<th style="border: 1px solid #d8d8da; padding-left:5px;"> Product Qty.</th>
						<th style="border: 1px solid #d8d8da; padding-left:5px;">No. of Carton</th>
						<th style="border: 1px solid #d8d8da; padding-left:5px;">Order Price</th>
						<th style="border: 1px solid #d8d8da; padding-left:5px;">Carton Price</th>
						<th style="border: 1px solid #d8d8da; padding-left:5px;">Discount</th>
						<th style="padding-right:5px; border: 1px solid #d8d8da; padding-left:5px;">Total Price</th>
						<th style="border: 1px solid #d8d8da; padding-left:5px;">GST</th>
					</tr>
				</thead>

				<tbody>
					<tr style="border: 1px solid #d8d8da;">
						<% var total = 0;var i = 1; var total_carton = 0;var total_unit = 0;var total_quant = 0; %>
						<% if (productData.length > 0) { %> <% productData.forEach(product => {%> <% total = total +
							product.total_price;total_carton = total_carton + product.no_of_carton;total_unit =
							total_unit + product.items.unit_price;total_quant = total_quant + product.product_per_carton
							%>
					</tr>

					<tr style="border: 1px solid #d8d8da;">
						<td style="text-align: center; border: 1px solid #d8d8da;">
							<%= i %>
						</td>
						<% i++ %>
						<td style="text-align: center; border: 1px solid #d8d8da;">
							<%=product.items.product.name + " " +product.items.product_weight %>
						</td>
						<td style="text-align: center; border: 1px solid #d8d8da;"><%=product.product_per_carton %></td>
						<td style="text-align: center; border: 1px solid #d8d8da;"><%=product.no_of_carton %></td>
						<td style="text-align: center; border: 1px solid #d8d8da;"><%=product.items.unit_price %></td>
						<td style="text-align: center; border: 1px solid #d8d8da;"><%=product.total_price %></td>
						<td style="text-align: center; border: 1px solid #d8d8da;"><%=product.discount %></td>
						<td style="text-align: center; border: 1px solid #d8d8da;"><%=product.total_price %></td>
						<td style="text-align: center; border: 1px solid #d8d8da;">
							<%=product.items.is_gst == 1 ? "Y" : "N" %></td>
					</tr>
					<% });%> <% }%>
					<tr style="border: 1px solid #d8d8da;">
						<td style="border: 1px solid #d8d8da;"></td>
						<td style="font-weight: bold; border: 1px solid #d8d8da;">Total</td>
						<td style="font-weight: bold; text-align: center; border: 1px solid #d8d8da; "><%=total_quant %>
						</td>
						<td style="font-weight: bold;text-align: center; border: 1px solid #d8d8da;"><%=total_carton %>
						</td>
						<td style="font-weight: bold;text-align: center; border: 1px solid #d8d8da;"><%=total_unit %>
						</td>
						<td style="border: 1px solid #d8d8da;"></td>
						<td style="border: 1px solid #d8d8da;"></td>
						<td
							style="font-weight: bold; text-align: center;padding-right: 5px; border: 1px solid #d8d8da;">
							<%=total %></td>
						<td style="border: 1px solid #d8d8da;"></td>
					</tr>
					<tr style="border: 1px solid #d8d8da;">
						<td style="border: 1px solid #d8d8da;"></td>
						<td style="font-weight: bold; border: 1px solid #d8d8da;">GST</td>
						<td style="border: 1px solid #d8d8da;"></td>
						<td style="border: 1px solid #d8d8da;"></td>
						<td style="border: 1px solid #d8d8da;"></td>
						<td style="border: 1px solid #d8d8da;"></td>
						<td style="border: 1px solid #d8d8da;"></td>
						<td
							style="font-weight: bold; text-align: center;padding-right: 5px; border: 1px solid #d8d8da;">
							15.00</td>
						<td></td>
					</tr>
					<tr style="border: 1px solid #d8d8da;">
						<td style="border: 1px solid #d8d8da;"></td>
						<td style="font-weight: bold; border: 1px solid #d8d8da;">Gross Total</td>
						<td style="border: 1px solid #d8d8da;"></td>
						<td style="border: 1px solid #d8d8da;"></td>
						<td style="border: 1px solid #d8d8da;"></td>
						<td style="border: 1px solid #d8d8da;"></td>
						<td style="border: 1px solid #d8d8da;"></td>
						<td
							style="font-weight: bold; text-align: center; padding-right: 5px; border: 1px solid #d8d8da;">
							165.00</td>
						<td style="border: 1px solid #d8d8da;"></td>
					</tr>
				</tbody>
			</table>
			<h2 class="text-center mt-2 p-2">Admin Bank Details</h2>
			<table class="table table-bordered" style="border-collapse: collapse;">
				<thead style="border: 1px solid #d8d8da;">
					<tr style="border: 1px solid #d8d8da;">
						<th style="border: 1px solid #d8d8da;">Bank Name</th>
						<th style="border: 1px solid #d8d8da;">Account Name</th>
						<th style="border: 1px solid #d8d8da;">Account Number</th>
						<th style="border: 1px solid #d8d8da;">BSB Number</th>
					</tr>
				</thead>
				<tbody>
					<tr style="border: 1px solid #d8d8da;">
						<td style="border: 1px solid #d8d8da;"><%=bankDetails.bank_name%></td>
						<td style="border: 1px solid #d8d8da;"><%=bankDetails.account_name%></td>
						<td style="border: 1px solid #d8d8da;"><%=bankDetails.account_no%></td>
						<td style="border: 1px solid #d8d8da;"><%=bankDetails.bsb_no%></td>
					</tr>
				</tbody>
			</table>

			<h4 style="text-decoration: underline; font-size:16px;">Terms And Conditions Of Sale :</h4>
			<p style="text-transform: uppercase;font-size: 13px;">
				THIS QUOTATION REMAINS VALID FOR 3 DAYS FROM THE ABOVE DATE AFTER WHICH A REVISED QUOTE MAY BE
				NECESSARY. ANY VARIATION TO THE ABOVE QUANTITIES MAY RESULT IN A VARIATION TO THE QUOTED PRICE.
			</p>
			<p style="font-size: 14px">
				I accept this quotation and certify that the above information is true and correct. I have read and
				understand the TERMS AND CONDITIONS OF TRADE (overleaf or attached)of Shivom Enterprises Pty Ltd T/A
				UV'S Impex which form part of, and are intended to be read in conjunction with this Quotation Form
				and agree to be bound by these conditions. I authorise the use of my personal information as
				detailed in the Privacy Act clause therein. I agree that if I am a director or a shareholder (owning
				at least 15% of the shares) of the Customer I shall be personally liable for the performance of the
				Customer¶s obligations under this contract.
			</p>
			<p style="font-size: 14px">
				I authorise the supply of the Goods detailed above and certify that the above information is true
				and correct. I have read and understand the TERMS AND CONDITIONS OF TRADE (overleaf or attached) of
				Shivom Enterprises Pty Ltd T/A UV'S Impex which form part of, and are intended to be read in
				conjunction with this Request To Supply Goods Form and agree to be bound by these conditions. I
				authorise the use of my personal information as detailed in the Privacy Act clause therein. I agree
				that if I am a director or a shareholder (owning at least 15% of the shares) of the Customer. I
				shall be personally liable for the performance of the Customer¶s obligations under this contract.
			</p>
			<div style="margin-top: 100px">
				<table class="table-border-0">
					<thead>
						<tr>
							<th>
								<p style="text-align: center; font-weight:bold">Order Submitted by</p>
							</th>
							<th>
								<p style="text-align: center; font-weight:bold">Authorized by</p>
							</th>
							<th>
								<p style="text-align: center; font-weight:bold">Customer Authorized</p>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<p style="margin-top: 30px;text-align: center;">Admin Shivom Enterprises Pty Ltd</p>
							</td>
							<td>
								<p style="margin-top: 30px;text-align: center;">CASH SALE CASH SALE</p>
							</td>
							<td>
								<p style="text-align: center; font-weight:bold">Signature</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
	<div style="page-break-before: always !important;" class="container">
		<h3 style="border-top: 2px solid #d8d8da;text-align: center; border-bottom: 2px solid #d8d8da ">
			Shivom Enterprises Pty Ltd T/A UV'S Impex – Terms & Conditions of Trade
		</h3>
		<div class="container-fluid"
			style="max-width: 100%; column-width: 23%;  column-gap: 50px; word-break: break-all; font-size: 9px">
			<%- termsConditions.content %>

		</div>
	</div>
</body>

</html>